# CSE 7324 Lab 1: Exploring Table Data
### Thomas Adams, Suleiman Hijazeen, Nancy Le, Andrew Whigham

### Business Understanding

### Data Understanding

In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv("global-carbon-dioxide-emissions-by-sector-gg-co.csv")
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5440 entries, 0 to 5439
Data columns (total 12 columns):
Entity                              5440 non-null object
Code                                4481 non-null object
Year                                5440 non-null int64
Transport                           5253 non-null float64
Forestry                            5356 non-null float64
Energy                              5440 non-null float64
Other sources                       5440 non-null int64
Agriculture, Land Use & Forestry    5419 non-null float64
Waste                               5430 non-null float64
Residential & commercial            5430 non-null float64
Industry                            5430 non-null float64
Agriculture                         5419 non-null float64
dtypes: float64(8), int64(2), object(2)
memory usage: 510.1+ KB
None
        Entity Code  Year  Transport  Forestry    Energy  Other sources  \
0  Afghanistan  AFG  1990   607.2770       0.0  277.4122              0
1  Afghanistan  AFG  1991   531.4588       0.0  270.1278              0
2  Afghanistan  AFG  1992   376.1294       0.0  154.5804              0
3  Afghanistan  AFG  1993   323.7141       0.0  151.7126              0
4  Afghanistan  AFG  1994   310.3998       0.0  146.3426              0

   Agriculture, Land Use & Forestry  Waste  Residential & commercial  \
0                               0.0    0.0                  918.4148
1                               0.0    0.0                  690.8751
2                               0.0    0.0                  373.4546
3                               0.0    0.0                  325.8062
4                               0.0    0.0                  265.0813

   Industry  Agriculture
0  118.8101          0.0
1  129.7491          0.0
2  141.6256          0.0
3  124.7280          0.0
4  147.0716          0.0

### Data Visualization

### Additional Analysis
# TODO t-SNE analysis